
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Lucida Console", Monaco, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
}

li {
    float: left;
}

li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 36px;
    text-decoration: none;
    font-size: 35px;
}

li a.navv {
    display: block;
    color: #6699ff;
    text-align: center;
    padding: 5px 36px;
    text-decoration: none;
    font-size: 35px;
}

li a:hover {
    background-color: #111;
}

li a.navv:hover {
	background-color: transparent;
}

li.active {
    background-color: #9400D3;
}

li {
    border-left: 3px solid #808080;
}

li.nav-home {
    border-left: 10px solid #808080;
}

li:last-child {
    border-right: none;
}

header {
	background-image: url(../img/header.jpg);
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	height: 445px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.header-content {
	padding: 10%;
}

h1.header {
	font-size: 60px;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

hr.blue {
	border-color: #6699ff;
}

hr.black {
	border-color: #000000;
}

p {
  margin: 35 20 35px;
}

p.audio {
	margin-bottom: 5px;
}

.bg-primary {
    background-color: #222;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-blue {
	border-color: #6699ff;
    color: #fff;
    background-color: #6699ff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-xl {
    padding: 15px 30px;
}

footer {
	display: block;
}

.agileinfo p{
	margin-top:2em;
	line-height:1.8em;
  color: #000;
  font-size: 14px;
  text-align: center;
}

.agileinfo p{
	color:#000;
	text-decoration:none;
}

.agileinfo a{
	color: #6699ff;
	text-decoration:none;
}

.agileinfo a:hover{
	color: #808080;
}


/* ***********************Audio Player CSS Starts Here*********************** */
/* ***********************Audio Player CSS Starts Here*********************** */
/* ***********************Audio Player CSS Starts Here*********************** */
/* ***********************Audio Player CSS Starts Here*********************** */
/* ***********************Audio Player CSS Starts Here*********************** */
.audio-player-wrapper { 
  }
  /* line 28, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-wrapper.error .audio-player-image {
    background: #f78471; }
    /* line 30, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-wrapper.error .audio-player-image:before {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 10px;
      width: 100%;
      text-align: center;
      margin: auto;
      color: white;
      content: "Error loading";
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 13px; }
    /* line 43, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-wrapper.error .audio-player-image > * {
      display: none; 
  }

.audio-player-image {
  position: relative;
  -webkit-backface-visibility: hidden;
}

.audio-player-image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
    /* line 56, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
    .audio-player-image > img.fading {
      -webkit-transition: opacity 200ms linear;
      -moz-transition: opacity 200ms linear;
      -o-transition: opacity 200ms linear;
      transition: opacity 200ms linear;
      z-index: 1;
      opacity: 0; }

/* line 61, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-song-name {
    position: absolute;
    z-index: 2;
    top: 135px;
    left: 240px;
    font-weight: 600;
    font-size: 11px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    text-transform: capitalize;
    font-size: 1.5em;
	}

.audio-player-controls {
    padding: 13em 2em 6em;
    background: url(../img/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.audio-player-progress {
    display: block;
    width:80%;
    height: 8px;
    border-radius: 25px;
    background-color: #E4E4E4;
    overflow: hidden;
    margin: 0 auto;
	}
  /* line 89, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-progress.loading {
    background-image: -webkit-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    -webkit-animation: loadingStripes 700ms linear infinite;
    -moz-animation: loadingStripes 700ms linear infinite;
    -ms-animation: loadingStripes 700ms linear infinite;
    -o-animation: loadingStripes 700ms linear infinite;
    animation: loadingStripes 700ms linear infinite; }

/* line 94, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-progress-bar {
  -webkit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
  display: block;
  height: 100%;
  width: 0;
  max-width: 100%;
  background-color:#1aafd0;
  border-radius: 25px; }

/* line 103, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-button {
  display: block;
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 100%;
  border:3px solid #FFFFFF;
  opacity: 0.8;
  cursor: pointer; }
  /* line 114, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button:hover {
    opacity: 1; }
  /* line 116, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button::before {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0px;
    right: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    line-height: 1px;
    font-size: 20px;
    color: #525252; 
	}
  /* line 128, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button.icon-pause::before {
		font-size: 18px;
		top: 1px;
		left: 0px; }
	.icon-play:before {
		content: '';
		background:url(../img/4.png) no-repeat 9px 6px;
		display: block;
		height: 35px;
		width: 35px;
	}
	.icon-pause:before {
		content: '';
		background:url(../img/3.png) no-repeat 7px 4px;
		display: block;
		height: 35px;
		width: 35px;
	}
	.icon-forward:before {
		content: '';
		background:url(../img/2.png) no-repeat 6px 4px;
		display: block;
		height: 25px;
		width: 25px;
	}
  /* line 132, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button.icon-backward::before {
    left: 0px; }
	
	.icon-backward:before {
		content: '';
		background:url(../img/1.png) no-repeat 6px 4px;
		display: block;
		height: 25px;
		width: 25px;
	}
  /* line 134, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
  .audio-player-button.small {
    width: 25px;
    height: 25px;
    margin-top: 5px; }

/* line 141, /Users/Rose/Sites/audio_player/source/stylesheets/style.sass */
.audio-player-button-wrappers {
	overflow: hidden;
    display: block;
    width: 133px;
    margin: 0 auto;
    padding: 40px 0;
  }
a.audio-player-button.small.icon-backward,a.audio-player-button.small.icon-forward{
	position:relative;
}
a.audio-player-button.small.icon-backward span,a.audio-player-button.small.icon-forward span{
	opacity: 0;
    font-size: 1em;
    color: #212121;
    position: absolute;
	bottom: -150%;
    background: #fff;
    padding: 0 .5em;
}
a.audio-player-button.small.icon-backward span {
    left: -32%;
}
a.audio-player-button.small.icon-forward span {
    right: -32%;
}
a.audio-player-button.small.icon-backward:hover span,a.audio-player-button.small.icon-forward:hover span {
    opacity: 1;
}
/* ***********************Audio Player CSS Ends Here*********************** */
/* ***********************Audio Player CSS Ends Here*********************** */
/* ***********************Audio Player CSS Ends Here*********************** */
/* ***********************Audio Player CSS Ends Here*********************** */
/* ***********************Audio Player CSS Ends Here*********************** */